Name: {{legislator.data.name}}</br>
State: {{legislator.data.state}}</br>
Chamber: {{legislator.data.chamber}}</br>
Popularity: {{legislator.data.popularity}}</br>

<!--FB Share button. Won't accept localhost as data-href-->
<div class="fb-share-button" data-href="http://127.0.0.1:8000/{{legislator.data.id}}" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>

<button ng-click="upVote()">Up Vote</button>
<button ng-click="downVote()">Down Vote</button>

<input type='text'
       class='form-control'
       placeholder="Author"
       aria-describedby='sizing-addon1'
       name='author'
       ng-model="legislator.comment.author"
       minlength='3'
       size="200"/>
<input type='text'
       class='form-control'
       placeholder="Comment"
       aria-describedby='sizing-addon1'
       name='comment'
       ng-model="legislator.comment.content"
       minlength='3'
       size="200"/>
<button ng-click="comment()">Submit Comment</button>

<div class="comments">
  <div ng-repeat='comment in legislator.comments'>
    Author: {{comment.author}} </br>
    Comment: {{comment.content}}
  </div>
</div>

<!--set up Facebook SDK-->
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=253548378436857";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'))
</script>
